<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.albpower.halafood"
        versionCode = "20"
        version   = "1.6.0">

    <name>Halal Food Guide</name>
    <description>
        Halal Food Guide - E-codes refernce book
    </description>
	
    <author email="afrim.a@msn.com" href="http://afrimazizi.tk">
        Afrim Azizi
    </author>

	<preference name="phonegap-version"           value="cli-5.2.0" />          <!-- all: current version of PhoneGap -->
	
	<!-- Plugins  -->
	<!--<gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />-->
	<plugin name="com.admob.google" spec="4.0.8" source="pgb" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />
	
	<!-- Define app icon for each platform. -->
    <icon src="icon.png" />
	
    <content src="index.html" />
    <access origin="*" />
</widget>
